@font-face {
  font-family: "futura book";
  src: url('img/futura\ book\ font.ttf');
}

@font-face {
  font-family: "startrek classic";
  src: url('img/FEC_____.TTF');
}

html {
  height: 100%;
  width: 100%;
}

.style-title {
  font-family: "startrek classic";
  font-size: 40px;
  color: #FFCC00;
}

a.link-register, .show-loggout {
  text-decoration: none;
  color: #FFCC00;
  font-weight: bold;
}

.body {
  background-image: url(img/istockphoto-1061591684-170667a.jpg);
  width: 100%;
  text-align: center;
}

main {
  min-height: calc(100vh - 30px);
}

.img {
  width: 63%;
  margin: 10px 0px;
}

.img-g {
  width: 50px;
  cursor: pointer;
}

.img-f {
  width: 25px;
  cursor: pointer;
}

.logo-google-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.style-input {
  border-radius: 10px;
  border: 2px solid #FFCC00;
  width: 70%;
  height: 30px;
  margin: 5px 0px;
  outline: none;
}

.button-login {
  border-radius: 10px;
  background-color: #FFCC00;
  border: none;
  height: 30px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.width-button-login {
  width: 120px;
  margin: 5px 0px;
}

.letter-color {
  color: #FFCC00;
  font-family: "futura book";
  margin: 5px 0px;
}

footer {
  height: 30px;
}

.register-display-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-posts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  z-index: 10;  
}

.menu-posts {
  width: 70px;
}

.bar-menu {
  width: 40px;
}

.logo-name-posts-nav {
  width: 65%;
  font-family: "startrek classic";
  font-size: 35px;
  color: #FFCC00;
}

.margin-top-user {
  margin-top: 90px;
}

.profile-mobile {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
}

.id-user {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: transparent;
  border-radius: 2px;
  padding: 5px;
}

.img-user {
  width: 30%;
  border-radius: 2px;
}

.name-user {
  width: 60%;
  font-family: "futura book";
}

.display-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: white;
  border-radius: 2px;
}

.input-posts {
  width: 95%;
  border-radius: 10px;
  border: 2px solid #FFCC00;
  height: 100px;
  margin: 5px 0px;
  outline: none;
}

.display-none-img {
  display: none;
}

.visibility {
  visibility: hidden;
}

.post-comment {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.style-comment-area {
  width: calc(100% - 4px);
  font-family: "futura book";
  border: 2px solid #FFCC00;
  background-color: rgb(253, 252, 200);
  padding: 10px 0px;
}

.input-comment {
  border-radius: 10px;
  border: 2px solid #FFCC00;
  height: 100px;
  margin: 5px 0px;
  outline: none;
  width: 95%;
}

.posts-img {
  width: 30px;
  cursor: pointer;
}

.check-prive {
  font-family: "futura book";
  align-self: center;
}

.style-hour {
  font-family: "futura book";
}

.display-like {
  display: flex;
  align-items: center;
}

.display-posts {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.width-list-post {
  width: 100%;
}

.each-post {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 0px;
  border-radius: 2px;
  font-family: "futura book";
}

.name-edit-post {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #FFCC00;
  align-items: center;
}

.post-user-name {
  width: 60%;
  font-size: 18px;
}

.edit {
  width: 25px;
  cursor: pointer;
}

.delete {
  width: 20px;
  cursor: pointer;
}

.post-text-area {
  margin: 5px;
  height: 50px;
}

.comment-button {
  width: 30px;
  cursor: pointer;
}

.loggout {
  display: none;
  position: fixed;
  margin-top: 60px;
  background-color: white;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.show-loggout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "futura book";
}

.display-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-img {
  width: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .display-web {
    flex-direction: row;
    justify-content: space-around;
    height: calc(100vh - 30px);
  }
  .img-web {
    width: 40%;
  }
  .login-style-web {
    width: 40%;
  }
  .title-web {
    margin-bottom: 50px;
    font-size: 70px;
  }
  .login-btn-web:hover {
    transform: scale(1.2);
    transition: 3s;
  }
  .margin-web {
    margin-top: 30px;
  }
  .register-style-web {
    width: 40%;
    height: 100%;
    justify-content: center;
  }
  .margin-web-register {
    margin-top: 50px;
  }
  .margin-footer-web {
    margin: 0px;
  }
  .display-web-user {
    flex-direction: column;
  }
  .display-web-row {
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
  }
  .profile-web {
    width: 30%;
    height: 40vh;
    align-items: center;
    margin-top: 140px;
  }
  .posts-web {
    margin-top: 140px;
    width: 60%;
    background-color: transparent;
  }
  .img-user-web {
    width: 65%;
  }
  .form-web-display {
    background-color: white;
    border-radius: 2px;
  }
  .list-post-web {
    width: 100%;
  }
  .display-post-web {
    width: 95%;
  }
  .style-comment-area {
    width: calc(100% - 4px);
  }
}